* {
    box-sizing: border-box;
}

.date-picker {
    padding-left: 6%;
    padding-top: 1%;
}

.lnk {
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
